body {
  margin-left: 30px;
  background-size: 100%;
  background-image: url(Header.jpg);
  background-color:#2b2a2a;
}

@font-face {
  font-family: "Machinaorto"; /* Имя шрифта */
  src: url(1.ttf); /* Путь к файлу со шрифтом */
}

p.laba {
  font: 30px "Machinaorto";
  text-align: center;
  margin-bottom: 60px;
  color: #000;
}
p.laba2 {
  font-size: 18px;
  margin-left:auto;

}
.inp,.n,.m {
    width: 50px;
    
}
.n ,.m{
    float: left;
    
}
.m {
    margin-left: 10%;
}
.window, .wind_color1, .wind_color2,.wind_color3 {
  text-align: left;
  display: inline-block;
  width: 70px;
  height: 35px;
  margin: 7px;
  border: 1px solid black;
  background-color: #fff;
}
/* --Pulsation Part-- */
.wind_color1, .wind_color2, .wind_color3 {
  position: relative;
  top: 2px;
  font-size: 18px;
  color: #fff;
  background: #fff;

  -webkit-animation: pulse 1s infinite cubic-bezier(0.6, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.6, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.6, 0, 0, 1);
  

}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(206, 253, 249, 0.90),inset 0 1px 0 #defffa;}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(206, 253, 249, 0.90), inset 0 1px 0 #defffa;}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(206, 253, 249, 0.90), inset 0 1px 0 #defffa;}}
@keyframes pulse {to {box-shadow: 0 0 0 10px rgba(206, 253, 249, 0.90), inset 0 1px 0 #defffa;}}

.wind_color1 {

  text-shadow: 0 1px 0 #78C1DD;
  border: 1px solid #2c77ba;
  box-shadow: 0 0 0 0  #042b4e, inset 0 1px 0 #78C1DD;

  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #78C1DD), color-stop(100%, #2c77ba));
  background-image: -webkit-linear-gradient(#78C1DD, #2c77ba);
  background-image: -moz-linear-gradient(#78C1DD, #2c77ba);
  background-image: -o-linear-gradient(#78C1DD, #2c77ba);
  background-image: linear-gradient(#78C1DD, #2c77ba);

  
}




.wind_color2 {

  text-shadow: 0 1px 0 #03C03C;
  border: 1px solid #03C03C;
  box-shadow: 0 0 0 0 rgba(2, 62, 9, 0.90), inset 0 1px 0 #90EE90;

  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #90EE90), color-stop(100%, #03C03C));
  background-image: -webkit-linear-gradient(#90EE90, #03C03C);
  background-image: -moz-linear-gradient(#90EE90, #03C03C);
  background-image: -o-linear-gradient(#90EE90, #03C03C);
  background-image: linear-gradient(#90EE90, #03C03C);

  
}



.wind_color3 {

  text-shadow: 0 1px 0 #F96E6E;
  border: 1px solid #FD3D3D;
  box-shadow: 0 0 0 0  #680707, inset 0 1px 0 #FF9F9F;

  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FF9F9F), color-stop(100%, #FD3D3D));
  background-image: -webkit-linear-gradient(#FF9F9F, #FD3D3D);
  background-image: -moz-linear-gradient(#FF9F9F, #FD3D3D);
  background-image: -o-linear-gradient(#FF9F9F, #FD3D3D);
  background-image: linear-gradient(#FF9F9F, #FD3D3D);

}


.button {
  position: relative;
  width:220px;
  height:40px;
  text-align:center;
  color:#FFF;
  text-decoration:none;
  line-height:43px;
  font-family:'Oswald', Helvetica;
  display: block;
  margin: 0px 0px 30px;
}
.button:before {
  background:#f0f0f0;
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#f0f0f0));

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;

  -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
  -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
  box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;

  position: absolute;
  content: "";
  left: -6px; right: -6px;
  top: -6px; bottom: -10px;
  z-index: -1;
}

.button:active {
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
  top:5px;
}
.button:active:before{
  top: -11px;
  bottom: -5px;
  content: "";
}

.blue {
  text-shadow:-1px -1px 0 #2C7982;
  background: #3EACBA;
  border:1px solid #379AA4;
  background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:linear-gradient(top, #48C6D4, #3EACBA);

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;

  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

.blue:hover {
  background: #48C6D4;
  background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
}

/*------------------------------------------------- */
.modal_box {
  margin: 0 auto;
  text-align: center;
  position: fixed;
  left: 35%;
  top: 20%;
  width: 30%;
  height: 30%;
  z-index: 100505;
  background: #48C6D4;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto 0;
}
.container2 {
    width: 75%;
    height: 100%;
    margin: auto;
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
}

/* New conteiner */
.card--big {
    margin: auto;
    /*margin-left: 20%;*/
    top: 40%;
    will-change: transform;
    position: relative;
    overflow: hidden;
    background-color: #defffa;
    height: 100%;
    width: 60%;
    -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    padding-bottom: 20px;   
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    
    min-height: 304px;
    border-radius: 35px 35px 35px 35px; 
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
}

